Django==2.2.8
django-extensions==2.2.1
django-filter==2.2.0
django-rest-auth==0.9.5
djangorestframework==3.10.2
drf-writable-nested==0.5.1
Markdown==2.6.11
Pillow==5.4.1
six==1.11.0
typing==3.6.4
Werkzeug==0.15.5
